.special{
    color: red
}
.edificios{
    color: blue
}
h1 + em{
    font-size: 200%;
} 
p span{
    font-size: 150%;
}  

p a:visited{
    color: green;
}
p a:link{
    color: red;
}
p a:hover{
    text-decoration:underline;
    font-size: 150%;
    color: aqua;
}


.progress1{
    border: 5px solid black;
    width: 1000px;
    font-size: 180%;
} 

.box{
    padding: 10px;
    width: calc(60% - 30px);
    background-color: blueviolet;
    color: white;
}

.cube{
    border: 5px solid black;
    margin: 50px;
    width: 100px;
    height: 100px;
    background-color:aqua;
    transform: rotate(0.87turn);
}

.text-within{
    transform: rotate(0.13turn);
    font-size: 20px;
}

.cube:hover {
    width: 150px;
    height: 150px;
    .text-within{
        font-size: 30px;
        font-weight: bold;
    }
}

.cube:active{
    .text-within{
        font-size: 30px;
        font-weight: bold;
    }
   a:link{
        color: yellow;
    }
    a:visited{
        color: yellow;
    }

    background-color: blue;
}
body{
    background-image: url("https://media1.tenor.com/m/9JO3m3Tyj4kAAAAd/jake-adventure-time.gif");
}
